<template>
  <div
    class="new-action"
    :class="{'disabled':disabled}"
    @click="$emit('click',disabled?'':name)"
    v-if="name!=='$BLANK-LINE$'"
  >{{name}}</div>
  <div v-else class="new-action-line"></div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
@Component
export default class Action extends Vue {
  @Prop({ required: true })
  name!: string;
  @Prop({ default: false })
  disabled!: false;
}
</script>
<style lang="scss">
.new-action {
  height: 26px;
  line-height: 26px;
  padding-left: 24px;
  padding-right: 24px;
  transition: 300ms background-color;
  font-size: 110%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  &.disabled {
    color: rgba(255, 255, 255, 0.5);
    &:hover {
      background-color: transparent;
    }
  }
}
.new-action-line {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 2px;
  margin-bottom: 2px;
}
</style>