<template>
  <div class="arrow-button" @click="$emit('click')">
    <svg
      :width="size"
      :height="size"
      viewBox="0 0 512 512"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="p"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M315.007 115.686 L337.635 138.314 L220.255 255.693 L337.635 373.073 L315.007 395.701 L175 255.693 L315.007 115.686Z"
        :fill="fill"
      />
    </svg>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import animejs from "animejs";
const leftArrow =
  "M315.007 115.686 L337.635 138.314 L220.255 255.693 L337.635 373.073 L315.007 395.701 L175 255.693 L315.007 115.686Z";
const rightArrow =
  "M175 138.314 L197.627 115.686L337.635 255.693L197.627 395.701L175 373.073L292.38 255.693L175 138.314Z";
@Component
export default class ArrowButton extends Vue {
  @Prop({ default: 0 }) status!: number;
  @Prop({ default: 100 }) size!: number;
  @Prop({ default: "white" }) fill!: string;
  @Watch("status", { immediate: true })
  onStatusChanged(val: number) {
    Vue.nextTick(() => {
      animejs({
        targets: ".arrow-button .p",
        d: val === 0 ? leftArrow : rightArrow,
        duration: 300,
        easing: "linear"
      });
    });
  }
}
</script>
<style lang="scss">
.arrow-button {
  width: 24px;
  height: 24px;
  border-radius: $small-border-radius;
  transition: 300ms background-color;
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  &.pressed {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
</style>