<template>
  <div id="bottom-indicator">
    <transition name="slide-up">
      <el-popover
        popper-class="new-action-popper"
        class="left-action action-new"
        placement="top"
        trigger="click"
        :disabled="hideAddPopover"
        :visible-arrow="false"
        v-model="newButtonFocused"
        v-if="showAddAction"
      >
        <div>
          <Action
            v-for="action in newActions"
            :key="action"
            :name="action"
            @click="newActionClicked"
          />
        </div>
        <IconButton
          slot="reference"
          iconStyle="icon-add"
          :rotation="newButtonFocused?45:0"
          :pressed="newButtonFocused"
          @click="addButtonClicked"
        />
      </el-popover>
      <IconButton
        v-if="showCheckAction"
        iconStyle="icon-check"
        class="left-action action-save"
        @click="saveActionClicked"
      />
    </transition>
    <transition name="slide-up">
      <LiteSwitch
        class="app-status-switch"
        :value="enabled"
        :disabled="statusButtonDisabled"
        @change="enableChanged"
        v-if="pageStatus===0"
      />
      <el-popover
        v-else-if="pageStatus===1||pageStatus===3"
        :visible-arrow="false"
        trigger="click"
        popper-class="switcher-indicator-popper"
        class="switcher-indicator-wrapper"
        v-model="switcherFocused"
      >
        <div>
          <Action
            v-for="action in currentSwitcherActions"
            :key="action"
            :name="action"
            :disabled="action === currentSwitcherTitle"
            @click="switcherActionClicked"
          />
        </div>
        <SwitcherIndicator
          :focused="switcherFocused"
          :title="currentSwitcherTitle"
          slot="reference"
        />
      </el-popover>
    </transition>
    <ArrowButton
      :size="24"
      :status="pageStatus===0?0:1"
      class="right-navi"
      @click="navIconClicked"
    />
  </div>
</template>

<script lang="ts">
import LiteSwitch from "./Switch.vue";
import IconButton from "./IconButton.vue";
import Action from "./Action.vue";
import SwitcherIndicator from "./SwitcherIndicator.vue";
import { Component, Vue } from "vue-property-decorator";
import ArrowButton from "@/render/components/ArrowButton.vue";
import {
  AppConfigState,
  PageState,
  NodeEditerState,
  MainPageState
} from "@/render/store/modules/";
import { Page, SettingPage } from "@/render/store/modules/page";
import { NodeType } from "../../shared/Nodes";
@Component({
  components: {
    LiteSwitch,
    IconButton,
    SwitcherIndicator,
    ArrowButton,
    Action
  }
})
export default class BottomIndicator extends Vue {
  newButtonFocused = false;
  switcherFocused = false;
  get newActions() {
    if (
      MainPageState.selectedNodeId !== "" ||
      MainPageState.selectedGroupName !== ""
    ) {
      return [
        "Node",
        "Subscription",
        "Clipboard",
        "Scan Screen",
        "$BLANK-LINE$",
        "Edit",
        "Delete"
      ];
    }
    return ["Node", "Subscription", "Clipboard", "Scan Screen"];
  }
  settingActions = ["Proxy", "Common", "Subscription", "About"];
  supportedConfigType = ["SSR", "SS"];
  get enabled() {
    return AppConfigState.appConfig.enable;
  }
  get pageStatus() {
    return PageState.pageStatus;
  }
  get currentSwitcherActions() {
    if (this.pageStatus === Page.Setting) {
      return this.settingActions;
    }
    return this.supportedConfigType;
  }
  get currentSwitcherTitle() {
    if (this.pageStatus === Page.Setting) {
      return PageState.settingPage;
    }
    return NodeEditerState.editingType;
  }
  get statusButtonDisabled() {
    return AppConfigState.activeNodeId === "";
  }
  get hideAddPopover() {
    return this.pageStatus === Page.Setting;
  }
  get showAddAction() {
    return (
      this.pageStatus === Page.Main ||
      (this.pageStatus === Page.Setting &&
        PageState.settingPage === SettingPage.Subscription)
    );
  }
  get showCheckAction() {
    return (
      this.pageStatus === Page.NodeEditor ||
      this.pageStatus === Page.GroupEditor
    );
  }
  enableChanged() {
    AppConfigState.toggleEnable();
  }
  navIconClicked() {
    if (this.pageStatus === Page.Main) {
      PageState.goToSetting();
    } else {
      PageState.goToMain();
    }
  }
  switcherActionClicked(name: string) {
    this.switcherFocused = false;
    if (name === "") return;
    if (this.pageStatus === Page.Setting) {
      PageState.goToSetting(name as SettingPage);
    } else if (this.pageStatus === Page.NodeEditor) {
      NodeEditerState.updateEditingType(name as NodeType);
    }
  }
  newActionClicked(name: string) {
    this.newButtonFocused = false;
    if (name === "") return;
    switch (name) {
      case "Node":
        AppConfigState.createNodeConfig();
        break;

      case "Delete":
        if (MainPageState.selectedNodeId !== "") {
          AppConfigState.removeConfig();
        } else if (MainPageState.selectedGroupName !== "") {
          AppConfigState.removeGroup();
        }
        break;
      case "Edit":
        if (MainPageState.selectedNodeId !== "") {
          AppConfigState.editingConfig();
        } else {
          //
        }
        break;
      default:
        break;
    }
  }
  addButtonClicked() {
    if (
      this.pageStatus == Page.Setting &&
      PageState.settingPage === SettingPage.Subscription
    ) {
      this.$store.commit("setDisplaySubsLayer", true);
    }
  }
  saveActionClicked() {
    if (this.pageStatus === Page.NodeEditor) {
      AppConfigState.saveFromEditing();
      PageState.goToMain();
    } else if (this.pageStatus === Page.GroupEditor) {
      AppConfigState.saveGroupFromEditing();
      PageState.goToMain();
    }
  }
}
</script>

<style scoped lang="scss">
$icon-button-margin: 8px;
#bottom-indicator {
  height: $bottom-indicator-height;
  width: 100%;
  background-color: $disabled-color;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms background-color;
  .enabled & {
    background-color: $enabled-color;
  }
  position: relative;
  .left-action {
    position: absolute;
    left: $icon-button-margin;
  }
  .right-navi {
    position: absolute;
    right: $icon-button-margin;
  }

  .slide-up-enter-active,
  .slide-up-leave-active {
    position: absolute;
    transition: all 300ms;
  }
  .slide-up-enter.app-status-switch,
  .slide-up-leave-to.app-status-switch {
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }

  .slide-up-enter.switcher-indicator-wrapper,
  .slide-up-leave-to.switcher-indicator-wrapper {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }

  .slide-up-enter.action-new,
  .slide-up-leave-to.action-new {
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }
  .slide-up-enter.action-save,
  .slide-up-leave-to.action-save {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
}
</style>
<style lang="scss">
.el-popover.el-popper.new-action-popper,
.el-popover.el-popper.switcher-indicator-popper {
  min-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: $disabled-color;
  color: white;
  border-color: lighten($color: $disabled-color, $amount: 40%);
  box-shadow: none;
  border-radius: $big-border-radius;
  .enabled & {
    background-color: $enabled-color;
    border-color: lighten($color: $enabled-color, $amount: 40%);
  }
}
</style>