<template>
  <div class="icon-button" :class="{'pressed':pressed,'withColor':withColor}">
    <span
      class="icon iconfont"
      :class="classObj"
      @click="$emit('click', $event)"
      @mousedown="$emit('mousedown')"
    ></span>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
@Component({
  components: {}
})
export default class IconButton extends Vue {
  @Prop({ default: "icon-add" }) iconStyle!: string;
  @Prop({ default: false }) withColor!: boolean;
  @Prop({ default: false }) pressed!: boolean;
  @Prop({ default: 0 }) rotation!: number;
  get classObj() {
    return {
      [this.iconStyle]: true,
      pressed: this.pressed,
      deg180: Math.abs(this.rotation) === 180,
      deg45: Math.abs(this.rotation) === 45,
      "inverse-rot": this.rotation < 0
    };
  }
}
</script>

<style lang="scss">
.icon-button {
  &.withColor {
    background-color: $enabled-color;
  }
  &.withColor:hover {
    background-color: darken($color: $enabled-color, $amount: 10%);
  }
  &.withColor.presed {
    background-color: darken($color: $enabled-color, $amount: 20%);
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  &.pressed {
    background-color: rgba(0, 0, 0, 0.5);
  }
  border-radius: $small-border-radius;
  color: white;
  transition: 300ms background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus {
    outline: none !important;
  }
  .icon {
    display: block;
    transition: 300ms transform;
    transform: rotate(0deg);
  }
  .icon.deg45 {
    transform: rotate(45deg);
    &.inverse-rot {
      transform: rotate(-45deg);
    }
  }
  .icon.deg180 {
    transform: rotate(180deg);
    &.deg180 {
      transform: rotate(-180deg);
    }
  }
}
</style>
