<template>
  <div
    class="subscription-item"
    :class="{'selected':selected}"
    @click="$emit('click',subsciption.url)"
  >
    <div class="info-wrapper">
      <div class="group">{{subsciption.group}}</div>
      <div class="flex jc-sb ai-ct">
        <span class="url">{{subsciption.url}}</span>
        <span class="last-updated">{{lastedUpdate}}</span>
      </div>
    </div>
    <div class="selection-indicator">
      <IconButton iconStyle="icon-delete"></IconButton>
      <IconButton iconStyle="icon-arrow-right"></IconButton>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import IconButton from "@/render/components/IconButton.vue";
import { ServerSubscription } from "@/shared/AppConfig";
@Component({
  components: { IconButton }
})
export default class extends Vue {
  @Prop({ required: true })
  subsciption!: ServerSubscription;
  @Prop({ default: false })
  selected!: boolean;
  get lastedUpdate() {
    if (this.subsciption.lastedUpdated === -1) {
      return "~~";
    }
    const delta = Date.now() - this.subsciption.lastedUpdated;
    if (delta < 1000 * 60 * 5) {
      // 5 min
      return "< 5m";
    }
    const inDays = Math.floor(delta / (24 * 3600 * 1000));
    if (inDays > 0) {
      return `> ${inDays}d`;
    }
    const restMills = delta % (24 * 3600 * 1000);
    const inHours = Math.floor(restMills / (3600 * 1000));
    // less in one day
    if (inHours > 0) {
      return `> ${inHours}h`;
    }
    return "< 1h";
  }
}
</script>

<style lang="scss">
.subscription-item {
  border-radius: 6px;
  height: 60px;
  transition: 300ms background-color;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  .info-wrapper {
    transition: 300ms all;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .selection-indicator {
    width: 40px;
    margin-right: -40px;
    flex-direction: column;
  }
  &.selected {
    .info-wrapper {
      margin-left: -40px;
    }
    .selection-indicator {
      margin-right: 0px;
      background-color: $disabled-color;
      .enabled & {
        background-color: $enabled-color;
      }
    }
  }
  .group {
    font-size: 110%;
    color: #343434;
    margin-bottom: 6px;
    margin-top: 8px;
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 16px;
    & + div {
      margin-left: 12px;
      margin-bottom: 8px;
      margin-right: 8px;
    }
  }
  .url {
    font-size: 90%;
    color: rgba($color: #000000, $alpha: 0.5);
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    margin-right: 8px;
  }

  .last-updated {
    font-size: 90%;
    text-align: right;
    color: rgba($color: #000000, $alpha: 0.5);
  }
  &:hover {
    background-color: lighten($color: $enabled-color, $amount: 50%);
  }
}
</style>