<template>
  <div class="switch" :class="{'on':value,'disabled':disabled}" @mouseup="onClick">
    <div class="switch-dot"></div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class LiteSwitch extends Vue {
  @Prop({
    default: false
  })
  readonly value!: boolean;
  @Prop({
    default: false
  })
  readonly disabled!: boolean;
  onClick() {
    if (!this.disabled) {
      this.$emit("change", !this.value);
    }
  }
}
</script>

<style scoped lang="scss">
$switch-width: 36px;
$switch-height: 16px;
$switch-dot-size: 8px;
$switch-dot-margin: 4px;
.switch {
  height: $switch-height;
  width: $switch-width;
  border-radius: $switch-height/2;
  background-color: lighten($color: $disabled-color, $amount: 40%);
  position: relative;
  transition: 300ms background-color;
  display: inline-block;
  cursor: pointer;
  &.disabled {
    cursor: not-allowed;
  }
  &.on {
    background-color: darken($color: $enabled-color, $amount: 10%);
  }
  .switch-dot {
    width: $switch-dot-size;
    height: $switch-dot-size;
    border-radius: $switch-dot-size/2;
    background-color: white;
    position: absolute;
    top: ($switch-height - $switch-dot-size)/2;
    transition: left 300ms, background-color 300ms;
    left: $switch-dot-margin;
  }
  &.on .switch-dot {
    left: $switch-width - $switch-dot-margin - $switch-dot-size;
  }
}
</style>