<template>
  <div class="switcher-indicator" :class="{focused}">
    <span class>{{title}}</span>
    <span class="iconfont icon-arrow-up"></span>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
@Component
export default class SwitcherIndicator extends Vue {
  @Prop()
  title!: string;
  @Prop({ default: false })
  focused!: boolean;
}
</script>

<style lang="scss">
.switcher-indicator {
  color: white;
  display: flex;
  align-items: center;
  &.focused .icon-arrow-up {
    margin-bottom: 4px;
  }
  .icon-arrow-up {
    transition: 100ms margin-bottom;
    font-size: 20px;
  }
  &:focus {
    outline: none !important;
  }
}
</style>