<template>
  <PageView name="group-editor">
    <div class="group-editor-page">
      <div class="setting-item-wrapper">
        <div class="setting-item-label">Group Title</div>
        <el-input :value="editingGroup" size="small" @input="onInput"></el-input>
      </div>
    </div>
  </PageView>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PageView from "../PageView.vue";
import { GroupEditorState } from "@/render/store/modules";
@Component({
  components: { PageView }
})
export default class GroupEditor extends Vue {
  get editingGroup() {
    return GroupEditorState.editingTitle;
  }
  onInput(value: string) {
    GroupEditorState.setEditingTitle(value);
  }
}
</script>

<style lang="scss">
.group-editor-page {
  text-align: left;
  height: calc(100% - 24px);
  padding: 24px;
  padding-bottom: 16px;
}
.slide-page-enter.view-group-editor,
.slide-page-leave-to.view-group-editor {
  transform: translate3d(100vw, 0, 0);
}
</style>