<template>
  <PageView name="node-editor">
    <div class="node-editor-page">
      <perfect-scrollbar>
        <div class="setting-item-wrapper">
          <div class="setting-item-label">Remarks</div>
          <el-input :value="editingNode.remarks" size="small" @input="v=>onInput('remarks', v)"></el-input>
        </div>

        <div class="setting-item-wrapper">
          <div class="setting-item-label">Server</div>
          <el-input :value="editingNode.server" size="small" @input="v=>onInput('server', v)"></el-input>
        </div>

        <div class="setting-item-wrapper flex jc-sb ai-ct">
          <div class="setting-item-label inline-block">Port</div>
          <el-input-number
            size="small"
            :value="editingNode.server_port"
            controls-position="right"
            @input="v=>onInput('server_port', v)"
          ></el-input-number>
        </div>

        <div class="setting-item-wrapper">
          <div class="setting-item-label">Password</div>
          <el-input :value="editingNode.password" size="small" @input="v=>onInput('password', v)"></el-input>
        </div>

        <div class="setting-item-wrapper">
          <div class="setting-item-label">Group</div>
          <el-input :value="editingNode.group" size="small" @input="v=>onInput('group', v)"></el-input>
        </div>

        <div class="setting-item-wrapper">
          <div class="setting-item-label">Method</div>
          <el-input :value="editingNode.method" size="small" @input="v=>onInput('method', v)"></el-input>
        </div>

        <!-- <transition name="slide-hori"> -->
        <div class="ssr-special" v-if="editingType!=='SS'">
          <div class="setting-item-wrapper">
            <div class="setting-item-label">Protocol</div>
            <el-input
              :value="editingNode.protocol"
              size="small"
              @input="v=>onInput('protocol', v)"
            ></el-input>
          </div>

          <div class="setting-item-wrapper">
            <div class="setting-item-label">Protocol Param</div>
            <el-input
              :value="editingNode.protocolparam"
              size="small"
              @input="v=>onInput('protocolparam', v)"
            ></el-input>
          </div>

          <div class="setting-item-wrapper">
            <div class="setting-item-label">Obfs</div>
            <el-input :value="editingNode.obfs" size="small" @input="v=>onInput('obfs', v)"></el-input>
          </div>

          <div class="setting-item-wrapper">
            <div class="setting-item-label">Obfs Param</div>
            <el-input
              :value="editingNode.obfsparam"
              size="small"
              @input="v=>onInput('obfsparam', v)"
            ></el-input>
          </div>
        </div>
        <div class="ss-special" v-else>
          <div class="setting-item-wrapper">
            <div class="setting-item-label">Plugin</div>
            <el-input :value="editingNode.plugin" size="small" @input="v=>onInput('plugin', v)"></el-input>
          </div>

          <div class="setting-item-wrapper">
            <div class="setting-item-label">Plugin Opts</div>
            <el-input
              :value="editingNode.plugin_opts"
              size="small"
              @input="v=>onInput('plugin_opts', v)"
            ></el-input>
          </div>
        </div>
        <!-- </transition> -->
      </perfect-scrollbar>
    </div>
  </PageView>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PageView from "../PageView.vue";
import { NodeEditerState } from "@/render/store/modules";
import { SSRNode, SSNode } from "@/shared/Nodes";
@Component({
  components: { PageView }
})
export default class NodeEditor extends Vue {
  get editingType() {
    return NodeEditerState.editingType;
  }
  get editingNode(): SSRNode & SSNode {
    return NodeEditerState.editingNode as SSRNode & SSNode;
  }
  onInput(type: string, value: string | number) {
    NodeEditerState.updateEditingNode({
      [type]: value
    });
  }
}
</script>

<style lang="scss">
.node-editor-page {
  width: 100%;
  text-align: left;
  height: calc(100% - 16px);
  .ps {
    height: calc(100% - 24px);
    padding: 24px;
    padding-bottom: 16px;
  }
  .el-select {
    width: 100%;
    .el-input__inner {
      border-radius: 3px;
      border-color: #cccccc;
      border-width: 1px;
    }
  }
  .setting-item-wrapper {
    margin-bottom: 12px;
  }
}
.slide-page-enter.view-node-editor,
.slide-page-leave-to.view-node-editor {
  transform: translate3d(100vw, 0, 0);
}
// .slide-hori-enter-active,
// .slide-hori-leave-active {
//   transition: all 500ms;
// }
// .slide-hori-enter,
// .slide-page-leave-to {
//   opacity: 0;
// }
</style>