<template>
  <PageView name="main">
    <div class="main-page">
      <perfect-scrollbar>
        <SSRGroup
          v-for="configKey in configMapKeys"
          :key="configKey"
          :title="configKey"
          :configs="configMap[configKey]"
        />
      </perfect-scrollbar>
    </div>
  </PageView>
</template>

<script lang="ts">
import PageView from "./PageView.vue";
import { Component, Vue } from "vue-property-decorator";
import SSRGroup from "@/render/components/nodes/SSRGroup.vue";
import { AppConfigState } from "../store/modules";

@Component({
  components: { PageView, SSRGroup }
})
export default class MainPage extends Vue {
  get configs() {
    return AppConfigState.appConfig.configs;
  }
  get configMap() {
    const map: { [x: string]: Array<{}> } = {};
    this.configs.forEach(item => {
      if (!map[item.group]) {
        map[item.group] = [];
      }
      map[item.group].push(item);
    });
    return map;
  }
  get configMapKeys() {
    return Object.keys(this.configMap);
  }
}
</script>
<style lang="scss">
.main-page {
  height: calc(100% - 16px);
  padding-top: 16px;
  padding-left: 8px;
  padding-bottom: 0px;
  padding-right: 4px;
  overflow: hidden;
  position: relative;
  .ps {
    height: 100%;
    padding-right: 16px;
  }
}

.slide-page-enter.view-main,
.slide-page-leave-to.view-main {
  transform: translate3d(-100vw, 0, 0);
}
</style>