<template>
  <div class="page-view" :class="[`view-${name}`]">
    <slot></slot>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
@Component
export default class PageView extends Vue {
  @Prop({ default: "main" }) name!: string;
}
</script>

<style lang="scss">
.page-view {
  width: 100vw;
  height: calc(100vh - #{$bottom-indicator-height});
  overflow: hidden;
}
.slide-page-leave-active,
.slide-page-enter-active {
  position: absolute;
  transition: all 300ms;
}
</style>