<template>
  <PageView name="setting">
    <div class="setting-page" ref="scoller">
      <transition name="slide-up">
        <component :is="settingPage"></component>
      </transition>
    </div>
  </PageView>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PageView from "./PageView.vue";
import ProxyPage from "./setting-pages/Proxy.vue";
import CommonPage from "./setting-pages/Common.vue";
import SubscriptionPage from "./setting-pages/Subscription.vue";
import AboutPage from "./setting-pages/About.vue";
import { PageState } from "@/render/store/modules";
@Component({
  components: {
    PageView,
    ProxyPage,
    CommonPage,
    SubscriptionPage,
    AboutPage
  }
})
export default class SettingPage extends Vue {
  get settingPage() {
    return `${PageState.settingPage as string}Page`;
  }
}
</script>
<style lang="scss">
.setting-page {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.slide-page-enter.view-setting,
.slide-page-leave-to.view-setting {
  transform: translate3d(100vw, 0, 0);
}
</style>
<style lang="scss" scoped>
.slide-up-enter-active,
.slide-up-leave-active {
  position: absolute;
  transition: all 300ms;
}
.slide-up-enter {
  transform: translate3d(0, 500px, 0);
  opacity: 0;
}
.slide-up-leave-to {
  transform: translate3d(0, -500px, 0);
  opacity: 0;
}
</style>