<template>
  <div id="app">
    <transition name="slide-page">
      <component :is="page"></component>
    </transition>
    <BottomIndicator />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import BottomIndicator from "./components/BottomIndicator.vue";
import MainPage from "./pages/MainPage.vue";
import SettingPage from "./pages/SettingPage.vue";
import NodeEditorPage from "./pages/editor/NodeEditor.vue";
import GroupEditorPage from "./pages/editor/GroupEditor.vue";
import "@/render/assets/styles/iconfont.css";
import { PageState, AppConfigState } from "./store/modules/";
import { Page } from "./store/modules/page";
@Component({
  components: {
    BottomIndicator,
    MainPage,
    SettingPage,
    NodeEditorPage,
    GroupEditorPage
  }
})
export default class App extends Vue {
  get pageStatus() {
    return PageState.pageStatus;
  }
  get page() {
    switch (this.pageStatus) {
      case Page.Main:
        return "MainPage";
      case Page.Setting:
        return "SettingPage";
      case Page.NodeEditor:
        return "NodeEditorPage";
      case Page.GroupEditor:
        return "GroupEditorPage";

      default:
        return "MainPage";
    }
  }
  get enabled() {
    return AppConfigState.appConfig.enable;
  }
  @Watch("enabled")
  onEnabledChanged(value: boolean) {
    if (value) {
      (document.querySelector("html") as HTMLElement).classList.add("enabled");
    } else {
      (document.querySelector("html") as HTMLElement).classList.remove(
        "enabled"
      );
    }
  }
  mounted() {
    if (this.enabled) {
      (document.querySelector("html") as HTMLElement).classList.add("enabled");
    }
  }
}
</script>

<style lang="scss">
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  user-select: none;
  overflow: hidden;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  position: relative;
  #bottom-indicator {
    position: absolute;
    bottom: 0;
  }
}
</style>
