<template>
  <div class="setting-page-about">
    About
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
@Component
export default class AboutPage extends Vue {}
</script>

<style lang="scss" scoped>
.setting-page-about {
  width: 100%;
  height: 100%;
}
</style>