<template>
  <div class="setting-page-common">
    <div class="setting-item-wrapper flex jc-sb ai-ct">
      <div class="setting-item-label inline-block">Language</div>
      <el-popover popper-class="country-selection-popper" :visible-arrow="false" trigger="click">
        <div class="country-selection-wrapper">
          <img slot="reference" class="country-flags" src="@/render/assets/flags/zh-CN.svg" />
          <img slot="reference" class="country-flags" src="@/render/assets/flags/en-US.svg" />
        </div>
        <img slot="reference" class="country-flags" src="@/render/assets/flags/zh-CN.svg" />
      </el-popover>
    </div>

    <div class="setting-item-wrapper flex jc-sb ai-ct">
      <div class="setting-item-label inline-block">Auto Start</div>
      <LiteSwitch :value="autoLaunch" @change="v=>onInput('autoLaunch',v)"></LiteSwitch>
    </div>

    <div class="setting-item-wrapper flex jc-sb ai-ct">
      <div class="setting-item-label inline-block">Hide Window after start</div>
      <LiteSwitch :value="hideWindow" @change="v=>onInput('hideWindow',v)"></LiteSwitch>
    </div>

    <!-- <div class="setting-item-wrapper">
      <div class="setting-item-label">SSR Path</div>
      <div class="path-input"></div>
    </div>

    <div class="setting-item-wrapper">
      <div class="setting-item-label">SS Path</div>
      <div class="path-input"></div>
    </div>
    <div class="setting-item-wrapper">
      <div class="setting-item-label">SS Plugin Dir</div>
      <div class="path-input"></div>
    </div> -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import LiteSwitch from "@/render/components/Switch.vue";
import { AppConfigState } from "@/render/store/modules";
@Component({
  components: { LiteSwitch }
})
export default class CommonPage extends Vue {
  supportedCountry = ["en-US", "zh-CN"];
  value1 = true;
  get autoLaunch() {
    return AppConfigState.appConfig.autoLaunch;
  }
  get hideWindow() {
    return AppConfigState.appConfig.hideWindow;
  }
  onInput(key: string, value: number | string | boolean) {
    AppConfigState.setAppConfig({ key, value });
  }
}
</script>

<style lang="scss" scoped>
.setting-page-common {
  width: calc(100% - 48px);
  text-align: left;
  padding: 24px;
}
.country-selection-wrapper {
  padding: 6px 12px;
}
.country-flags {
  width: 24px;
  margin-right: 4px;
}
.path-input {
  width: calc(100%);
  height: 32px;
  font-size: 12px;
  background-color: #f5f7fa;
  border-radius: $big-border-radius;
  border: 1px solid #e4e7ed;
  cursor: text;
  transition: 300ms background-color;
  &:hover {
    background-color: darken($color: #f5f7fa, $amount: 5%);
  }
}
</style>