<template>
  <div class="setting-page-proxy">
    <div class="setting-item-wrapper">
      <div class="setting-item-label">System Proxy</div>
      <el-select size="small" :value="sysProxyMode" @change="v=>onInput('sysProxyMode',v)">
        <el-option label="None" :value="0"></el-option>
        <el-option label="Pac" :value="1"></el-option>
        <el-option label="Global" :value="2"></el-option>
      </el-select>
    </div>
    <!-- <div class="setting-item-wrapper">
      <div class="setting-item-label">Pac</div>
      <el-select size="medium" :value=""></el-select>
    </div>-->

    <div class="setting-item-wrapper flex jc-sb ai-ct">
      <div class="setting-item-label inline-block">HTTP Proxy</div>
      <LiteSwitch :value="enableHTTPProxy" @change="v=>onInput('httpProxyEnable',v)"></LiteSwitch>
    </div>

    <div class="setting-item-wrapper flex jc-sb ai-ct">
      <div class="setting-item-label inline-block">Share Over LAN</div>
      <LiteSwitch :value="shareOverLAN" @change="v=>onInput('shareOverLan',v)"></LiteSwitch>
    </div>

    <div class="setting-item-wrapper flex jc-sb ai-ct">
      <div class="setting-item-label inline-block">Pac Port</div>
      <el-input-number
        size="small"
        :value="pacPort"
        controls-position="right"
        @change="v=>onInput('pacPort',v)"
      ></el-input-number>
    </div>

    <div class="setting-item-wrapper flex jc-sb ai-ct">
      <div class="setting-item-label inline-block">Socks5 Port</div>
      <el-input-number
        size="small"
        :value="socksPort"
        controls-position="right"
        @change="v=>onInput('localPort',v)"
      ></el-input-number>
    </div>

    <div class="setting-item-wrapper flex jc-sb ai-ct">
      <div class="setting-item-label inline-block">HTTP Port</div>
      <el-input-number
        size="small"
        :value="httpPort"
        controls-position="right"
        @change="v=>onInput('httpProxyPort',v)"
      ></el-input-number>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import LiteSwitch from "@/render/components/Switch.vue";
import { AppConfigState } from "@/render/store/modules";
@Component({ components: { LiteSwitch } })
export default class ProxyPage extends Vue {
  value1 = "Pac";
  get sysProxyMode() {
    return AppConfigState.appConfig.sysProxyMode;
  }
  get enableHTTPProxy() {
    return AppConfigState.appConfig.httpProxyEnable;
  }
  get shareOverLAN() {
    return AppConfigState.appConfig.shareOverLan;
  }
  get pacPort() {
    return AppConfigState.appConfig.pacPort;
  }
  get socksPort() {
    return AppConfigState.appConfig.localPort;
  }
  get httpPort() {
    return AppConfigState.appConfig.httpProxyPort;
  }
  onInput(key: string, value: number | string | boolean) {
    console.log(key, value);
    AppConfigState.setAppConfig({ key, value });
  }
}
</script>

<style lang="scss">
.setting-page-proxy {
  width: calc(100% - 48px);
  text-align: left;
  padding: 24px;

  .el-select {
    width: 100%;
    .el-input__inner {
      border-radius: 3px;
      border-color: #cccccc;
      border-width: 1px;
    }
  }
}
</style>