<template>
  <div class="setting-page-subscription">
    <SubscriptionItem
      v-for="item in subsciption"
      :selected="item.url===selectedUrl"
      :key="item.url"
      :subsciption="item"
      @click="itemClick"
    ></SubscriptionItem>
    <div v-show="displayAddLayer" class="add-subscaiprion-layer" @click.self="cancelLayer">
      <div class="url-input-dialog">
        <el-input size="medium" :disabled="processingSubUrl" v-model="editingUrl"></el-input>
        <div class="save-action" @click="saveClicked" :class="{'disabled':processingSubUrl}">
          <span>{{actionText}}</span>
          <span class="iconfont icon-arrow-right"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import SubscriptionItem from "@/render/components/SubscriptionItem.vue";
import { Store } from "vuex";
import { Message } from "element-ui";
import { RootState } from "@/render/store/types";
import { AppConfigState } from "@/render/store/modules";
import { fetchSubscriptionLink } from "@/render/worker";
const pattern = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\\/]))?/;
@Component({
  components: { SubscriptionItem }
})
export default class SubscriptionPage extends Vue {
  get subsciption() {
    return AppConfigState.appConfig.serverSubscribes;
  }
  get displayAddLayer() {
    return (this.$store as Store<RootState>).state.displaySubsLayer;
  }
  editingUrl = "";
  selectedUrl = "";
  processingSubUrl = false;
  get actionText() {
    if (this.processingSubUrl) {
      return "Fetching";
    }
    return this.editingUrl.length === 0 || !pattern.test(this.editingUrl)
      ? "Cancel"
      : "Save";
  }
  itemClick(url: string) {
    if (this.selectedUrl === url) {
      this.selectedUrl = "";
    } else this.selectedUrl = url;
  }
  async saveClicked() {
    if (
      !this.processingSubUrl &&
      this.editingUrl.length > 0 &&
      pattern.test(this.editingUrl)
    ) {
      const existed = this.subsciption.filter(
        item => item.url === this.editingUrl
      ).length;
      if (existed > 0) {
        Message({
          message: "Link existed",
          type: "warning",
          duration: 2000,
          customClass: "subscription-message"
        });
        this.cancelLayer();
        return;
      }
      this.processingSubUrl = true;
      const { url, data } = await fetchSubscriptionLink(this.editingUrl);
      if (data != null && data.length > 0) {
        const groupName = data[0].group;
        AppConfigState.appendSubscptionServer({
          item: {
            url,
            lastedUpdated: Date.now(),
            group: groupName || ""
          },
          nodes: data
        });
      } else {
        Message({
          message: "Failed to fetch",
          type: "error",
          duration: 2000,
          customClass: "subscription-message"
        });
      }
      this.processingSubUrl = false;
    }
    this.cancelLayer();
  }
  cancelLayer() {
    this.$store.commit("setDisplaySubsLayer", false);
    this.editingUrl = "";
  }
}
</script>

<style lang="scss" scoped>
.setting-page-subscription {
  width: calc(100% - 48px);
  text-align: left;
  padding: 24px;
  .subscription-item {
    margin-bottom: 8px;
  }
  .add-subscaiprion-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .url-input-dialog {
      margin-top: -120px;
      background-color: #eeeeee;
      border-radius: $big-border-radius;
      padding: 16px 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .el-input {
        margin-bottom: 24px;
        width: 240px;
      }
      .save-action {
        color: $enabled-color;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 100ms color;
        &.disabled,
        &:hover {
          color: darken($color: $enabled-color, $amount: 20%);
        }
      }
    }
    z-index: 1;
  }
}
</style>
<style lang="scss">
.el-message.subscription-message {
  width: 200px !important;
  min-width: 0;
}
</style>