$disabled-color: #5a5a5a;
$disabled-pressed-color: darken(#5a5a5a, 10%);
$enabled-color: #14b993;
$bottom-indicator-height: 36px;
$big-border-radius: 6px;
$small-border-radius: 4px;
.selectable {
  transition: 300ms all;
  box-sizing: border-box;
  border-radius: $big-border-radius;
  .enabled &:hover {
    background-color: lighten($color: $enabled-color, $amount: 50%);
  }
  .enabled &.selected {
    background-color: lighten($color: $enabled-color, $amount: 50%);
  }
  &:hover {
    background-color: lighten($color: $disabled-color, $amount: 50%);
  }
  &.selected {
    background-color: lighten($color: $disabled-color, $amount: 50%);
  }
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.ai-ct {
  align-items: center;
}
.jc-sb {
  justify-content: space-between;
}

.setting-item-wrapper {
  margin-bottom: 24px;
  .setting-item-label {
    color: #5a5a5a;
    font-size: 12px;
    margin-bottom: 8px;
    &.inline-block {
      margin-bottom: 0px;
    }
  }
}

.selection-indicator {
  height: 100%;
  transition: 300ms all;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $disabled-color;
  .selected & {
    margin-right:0px;
    background-color: $disabled-color;
    .enabled & {
      background-color: $enabled-color;
    }
  }
}

.selection-indicator-hover {
  height: 100%;
  &:hover > .selection-indicator {
    margin-right: 0;
    background-color: $disabled-color;
    .enabled & {
      background-color: $enabled-color;
    }
    > .icon-button {
      opacity: 1;
    }
  }
}
