<template>
  <div class="ssr-group">
    <div class="group-title selectable" :class="{'selected':groupSelected}" @click="titleClicked">
      <span
        class="iconfont icon-arrow-down ssr-group-controller"
        :class="{'collpased':collpased}"
        @click="()=>{this.collpased = !this.collpased}"
      ></span>
      <span>{{mappedGroupName}}</span>
      <div class="selection-indicator-hover">
        <div class="selection-indicator">
          <IconButton iconStyle="icon-delete" @click.stop="deleteGroup"></IconButton>
          <IconButton iconStyle="icon-arrow-right" @click.stop="editingGroup"></IconButton>
        </div>
      </div>
    </div>
    <el-collapse-transition>
      <div class="ssr-group-wrapper" v-show="!collpased">
        <SSRNode
          v-for="config in configs"
          :key="config.id"
          :id="config.id"
          :title="config.remarks"
          :latency="config.latency || 0"
          :selected="config.id===selectedNodeId"
          :actived="config.id===activeNodeId"
        />
      </div>
    </el-collapse-transition>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import SSRNode from "./SSRNode.vue";
import IconButton from "../IconButton.vue";
import { MainPageState, AppConfigState } from "@/render/store/modules";
import { BasicNode } from "@/shared/Nodes";
import { UnamedGroup } from "@/shared/consts";
@Component({
  components: { SSRNode, IconButton }
})
export default class SSRGroup extends Vue {
  get selectedNodeId(): string {
    return MainPageState.selectedNodeId;
  }

  get groupSelected(): boolean {
    if (this.title === "") {
      if (MainPageState.selectedGroupName === "$UNTITLED-GROUP$") {
        return true;
      }
      return false;
    }
    return this.title === MainPageState.selectedGroupName;
  }
  get selectedGroupName(): string {
    return MainPageState.selectedGroupName;
  }
  get mappedGroupName(): string {
    return this.title === "" ? "Untitled Group" : this.title;
  }
  get activeNodeId(): string {
    return AppConfigState.activeNodeId;
  }
  @Prop({ required: true })
  configs!: Array<BasicNode>;

  @Prop({ required: true })
  title!: string;

  collpased = false;
  titleClicked() {
    MainPageState.setSelectedNodeId("");
    MainPageState.setSelectedGroupName(
      this.title === "" ? UnamedGroup : this.title
    );
  }
  deleteGroup() {
    AppConfigState.removeGroup(this.title || UnamedGroup);
  }
  editingGroup() {
    AppConfigState.editingGroup(this.title || UnamedGroup);
  }
}
</script>
<style lang="scss">
.ssr-group {
  .group-title {
    height: 36px;
    width: 100%;
    text-align: left;
    border-radius: $big-border-radius;
    padding-left: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    .selection-indicator-hover {
      position: absolute;
      right: 0;
      width: 80px;
      .selection-indicator {
        position: absolute;
        right: 0;
      }
    }
  }
  .ssr-group-wrapper {
    padding-left: 8px;
  }
  .ssr-node {
    margin-bottom: 6px;
  }
  .ssr-group-controller {
    display: inline-block;
    transition: 300ms transform;
    &.collpased {
      transform: rotate(-90deg);
    }
  }
  .selection-indicator {
    width: 80px;
    margin-right: -80px;
  }
}
</style>