<template>
  <div
    class="ssr-node selectable"
    :class="{'selected':selected}"
    @click="nodeClicked"
    @dblclick="nodeDblClick"
  >
    <div class="active-indicator" v-if="actived"></div>
    <span class="title">{{title}}</span>
    <div class="flex ai-ct selection-indicator-hover">
      <span class="latency">
        <span class="value" :class="latenctStyle">{{latenctText}}</span>
        <span v-if="latency > 0">ms</span>
      </span>
      <div class="selection-indicator">
        <IconButton iconStyle="icon-delete" @click.stop="deleteNode"></IconButton>
        <IconButton iconStyle="icon-arrow-right" @click.stop="goToEditing"></IconButton>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import IconButton from "@/render/components/IconButton.vue";
import { MainPageState, AppConfigState } from "@/render/store/modules";
@Component({ components: { IconButton } })
export default class SSRNode extends Vue {
  @Prop({ default: "" }) title!: string;
  @Prop({ required: true }) id!: string;
  @Prop({ default: 0 }) latency!: number;
  @Prop({ default: false }) selected!: boolean;
  @Prop({ default: false }) actived!: boolean;
  // todo add server hover
  get latenctText() {
    if (this.latency < 0) {
      return "timeout";
    }
    if (this.latency === 0) {
      return "n/a";
    }
    return this.latency;
  }
  get latenctStyle() {
    return {
      high: this.latency > 700 || this.latency <= 0,
      med: this.latency > 400 && this.latency < 700
    };
  }
  nodeClicked() {
    MainPageState.setSelectedNodeId(this.id);
    MainPageState.setSelectedGroupName("");
  }
  nodeDblClick() {
    AppConfigState.setActiveNodeId(this.id);
    AppConfigState.updateEnable(true);
  }
  deleteNode() {
    AppConfigState.removeConfig(this.id);
  }
  goToEditing() {
    AppConfigState.editingConfig(this.id);
  }
}
</script>
<style lang="scss">
.ssr-node {
  color: #5a5a5a;
  font-size: 14px;
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  .active-indicator {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    left: 6px;
    background-color: $disabled-color;
    transition: 300ms background-color;
    .enabled & {
      background-color: $enabled-color;
    }
  }
  .title {
    margin-left: 16px;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 4px;
  }
  .latency {
    transition: 300ms margin-right;
    margin-right: 16px;
    font-size: 12px;
    .value {
      color: $enabled-color;
      &.high {
        color: rgb(194, 47, 10);
      }
      &.med {
        color: rgb(194, 191, 10);
      }
    }
  }
  .selection-indicator {
    width: 80px;
    margin-right: -80px;
  }
}
</style>